<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Analytic view JAL tokubin 21">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>特便21</title>
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.png">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
