<script>
import * as _map from 'lodash/map';
import { Line } from 'vue-chartjs';

export default {
  extends: Line,
  props: {
    data: {
      type: Array,
      default: () => [],
    },
    mean: {
      type: Number,
      default: 0,
    },
  },
  computed: {
    options() {
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'bottom',
          align: 'end',
        },
        tooltips: {
          enabled: false,
        },
        scales: {
          xAxes: [{
            ticks: {
              display: false,
            },
            gridLines: {
              display: false,
            },
          }],
          yAxes: [{
            ticks: {
              beginAtZero: true,
              stepSize: 10000,
            },
          }],
        },
      };
    },
  },
  mounted() {
    this.renderChart({
      labels: _map(this.data, (n, index) => index),
      datasets: [{
        label: 'Price',
        backgroundColor: 'lightblue',
        borderWidth: 1,
        data: this.data,
        pointRadius: 0,
      },
      {
        label: 'Average',
        borderColor: 'grey',
        borderWidth: 1,
        borderDash: [5, 5],
        data: _map(this.data, () => this.mean),
        pointRadius: 0,
      }],
    }, this.options);
  },
};
</script>

<style>
</style>
