<script>
import { Pie } from 'vue-chartjs';

export default {
  extends: Pie,
  props: {
    available: {
      type: Number,
      default: 0,
    },
    unavailable: {
      type: Number,
      default: 0,
    },
  },
  mounted() {
    this.renderChart({
      datasets: [{
        data: [this.unavailable, this.available],
        backgroundColor: ['grey', 'green'],
      }],
      labels: ['Unavailable', 'Available'],
    }, {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: 'right',
      },
      tooltips: {
        enabled: false,
      },
    });
  },
};
</script>

<style>
</style>
