<template>
  <div class="header-bar" />
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'HeaderBar',
  components: {
  },
  data() {
    return {
    };
  },
  computed: {
    ...mapState({
      config: (state) => state.config,
    }),
  },
  methods: {
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.header-bar {
  background-color: firebrick;
}
</style>
