<template>
  <div class="main">
    <header-bar />
    <main>
      <a-spin
        :spinning="isLoading"
        wrapper-class-name="spinning-container"
      >
        <a-empty
          v-if="!records.length"
          class="empty-data"
        />
        <a-collapse
          v-else
          v-model="expandedCollapses"
        >
          <a-collapse-panel
            v-for="(record, index) in records"
            :key="String(index)"
            :header="record.name"
          >
            <record-tokubin
              :name="record.name"
              :from="record.from"
              :to="record.to"
              :timestamp="record.timestamp"
              :fares="record.fares"
            />
          </a-collapse-panel>
        </a-collapse>
      </a-spin>
    </main>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import * as _map from 'lodash/map';
import * as _filter from 'lodash/filter';
import * as _reduce from 'lodash/reduce';
import * as _isEmpty from 'lodash/isEmpty';
// import * as _first from 'lodash/first';
// import * as _last from 'lodash/last';
// import * as _isNumber from 'lodash/isNumber';
// import * as _sortBy from 'lodash/sortBy';
// import * as _keys from 'lodash/keys';
// import * as _union from 'lodash/union';
import firebaseUtils, {
  ERROR_CODE_FIRESTORE,
} from '../firebase/utils';

import {
  APP_CONFIG_SET,
} from '../vuex/mutation-types';

const HeaderBar = () => import('./HeaderBar.vue');
const RecordTokubin = () => import('./RecordTokubin.vue');

export default {
  name: 'Main',
  components: {
    HeaderBar,
    RecordTokubin,
  },
  data() {
    return {
      isLoading: false,
      expandedCollapses: [],
      records: [],
    };
  },
  computed: {
    ...mapState({
      config: (state) => state.config,
    }),

    routes() {
      return _filter(this.config.ROUTES_CONFIG || [], ({ enabled }) => !!enabled);
    },

    labels() {
      return _map(this.routes, ({ name }) => name);
    },
  },
  async mounted() {
    try {
      this.isLoading = true;

      await firebaseUtils.signIn()
        .catch(this.onSignOnError);

      const remoteConfig = await firebaseUtils.setUpRemoteConfig();
      if (remoteConfig) {
        const config = _reduce(remoteConfig.getAll(), (acc, value, key) => ({
          ...acc,
          [key]: JSON.parse(value.asString()),
        }), {});
        this.setAppConfig(config);
      }

      this.fetchData(this.routes);
    } catch (e) {
      this.isLoading = false;

      console.error(e);
    }
  },
  methods: {
    ...mapMutations({
      setAppConfig: APP_CONFIG_SET,
    }),

    onSignOnError(e) {
      console.error(e);
    },

    async fetchData(routes) {
      if (_isEmpty(routes)) {
        return;
      }

      this.isLoading = true;
      try {
        this.records = await firebaseUtils.getAvailabilities(routes);
      } catch (e) {
        switch (e.code) {
          case ERROR_CODE_FIRESTORE.CANCELLED:
          case ERROR_CODE_FIRESTORE.ABORTED:
            break;
          case ERROR_CODE_FIRESTORE.UNAUTHENTICATED:
          case ERROR_CODE_FIRESTORE.PERMISSION_DENIED: {
            break;
          }
          default:
            console.error(e);
        }
      } finally {
        this.isLoading = false;
      }
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.main {
  height: 100%;
  width: 100%;
  display: grid;
  grid: 50px 1fr / 1fr;

  main {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-row-gap: 15px;
    justify-items: center;

    .spinning-container {
      width: 100%;
      height: 100%;

      > .ant-spin-container {
        height: 100%;
        display: flex;
      }
    }

    .empty-data {
      margin: auto;
    }

    .ant-collapse {
      width: 100%;
      max-width: 900px;
      height: fit-content;
      margin: 0 auto;
    }
  }
}
</style>
