<template>
  <a-table
    class="record-tokubin-fares"
    :columns="columns"
    :data-source="faresAnalysed"
    :pagination="false"
  >
    <span
      slot="cabins"
      slot-scope="cabins"
    >
      <a-tag
        v-for="cabin in cabins"
        :key="cabin"
      >
        {{ cabin }}
      </a-tag>
    </span>
  </a-table>
</template>

<script>
import * as _map from 'lodash/map';
import * as _size from 'lodash/size';
import * as _compact from 'lodash/compact';
import * as _uniq from 'lodash/uniq';
import * as _mean from 'lodash/mean';
import * as _isUndefined from 'lodash/isUndefined';

const columns = [
  {
    dataIndex: 'code',
    key: 'code',
    title: 'Code',
  },
  {
    title: 'Availability',
    dataIndex: 'availability',
    key: 'availability',
    align: 'center',
  },
  {
    title: 'Cabins',
    dataIndex: 'cabins',
    key: 'cabins',
    scopedSlots: { customRender: 'cabins' },
  },
  {
    title: 'Average',
    key: 'mean',
    dataIndex: 'mean',
    align: 'right',
  },
  {
    title: '95 Percentile',
    key: 'percentile95',
    dataIndex: 'percentile95',
    align: 'right',
  },
];

export default {
  name: 'RecordTokubinFares',
  props: {
    fares: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      columns,
    };
  },
  computed: {
    faresAnalysed() {
      return _map(this.fares, ({
        code, availables, cabins, prices,
      }, index) => {
        const availability = _size(availables)
          ? Math.ceil((
            _size(availables.filter((avail) => avail)) / _size(availables)) * 100)
          : null;
        const trimmedPrices = _compact(prices);
        const mean = _size(trimmedPrices)
          ? Math.ceil(_mean(trimmedPrices))
          : null;
        const index95Percentile = _size(trimmedPrices)
          ? Math.floor((trimmedPrices.length - 1) * 0.95)
          : undefined;

        return {
          key: String(index),
          code,
          availability,
          mean,
          cabins: _uniq(cabins),
          percentile95: _isUndefined(index95Percentile) ? null : trimmedPrices[index95Percentile],
        };
      });
    },
  },
  methods: {
  },
};
</script>

<style scoped lang="scss">
.record-tokubin-fares {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
</style>
