<template>
  <div class="record-tokubin">
    <div class="dashboard">
      <div class="availability">
        <div class="summary">
          <div class="tile">
            <h4 class="label">
              Availability
            </h4>
            <span class="value">{{ statistic.availability }}%</span>
          </div>
        </div>
        <chart-pie-availability
          class="chart-pie-availability"
          :available="statistic.available"
          :unavailable="statistic.unavailable"
        />
      </div>

      <div class="distribution">
        <div class="summary">
          <div class="tile">
            <h4 class="label">
              Average
            </h4>
            <span class="value">{{ statistic.mean || '-' }}</span>
          </div>
          <div class="tile">
            <h4 class="label">
              95 Percentile
            </h4>
            <span class="value">{{ statistic.percentile95 || '-' }}</span>
          </div>
        </div>
        <chart-scatter-distribution
          class="chart-scatter-distribution"
          :data="prices"
          :mean="statistic.mean"
        />
      </div>
    </div>
    <record-tokubin-fares :fares="faresParsed" />
    <div class="footer">
      <span class="timestamp">Last Updated: {{ timestampParsed }}</span>
      <a-button
        type="primary"
        class="button-download"
      >
        <a
          target="_blank"
          :href="blobURL"
          :download="`${name}.csv`"
        >
          <font-awesome-icon icon="download" />
          <span>Download</span>
        </a>
      </a-button>
    </div>
  </div>
</template>

<script>
import * as _filter from 'lodash/filter';
import * as _size from 'lodash/size';
import * as _map from 'lodash/map';
import * as _compact from 'lodash/compact';
import * as _sortBy from 'lodash/sortBy';
import * as _mean from 'lodash/mean';
import * as _groupBy from 'lodash/groupBy';
import * as _reduce from 'lodash/reduce';
import * as _flatMap from 'lodash/flatMap';
import papaparse from 'papaparse';

const ChartPieAvailability = () => import('./ChartPieAvailability.vue');
const ChartScatterDistribution = () => import('./ChartScatterDistribution.vue');
const RecordTokubinFares = () => import('./RecordTokubinFares.vue');

const dateTimeFormat = new Intl.DateTimeFormat('en-GB', {
  timeZone: 'Asia/Tokyo',
  timeZoneName: 'short',
});

export default {
  name: 'RecordTokubin',
  components: {
    ChartPieAvailability,
    ChartScatterDistribution,
    RecordTokubinFares,
  },
  props: {
    name: {
      type: String,
      default: '',
    },
    from: {
      type: String,
      default: '',
    },
    to: {
      type: String,
      default: '',
    },
    timestamp: {
      type: Object,
      default: () => null,
    },
    fares: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
    };
  },
  computed: {
    timestampParsed() {
      if (!this.timestamp || !this.timestamp.seconds) {
        return null;
      }

      return (new Date(this.timestamp.seconds * 1000)).toISOString();
    },
    prices() {
      return _sortBy(_compact(_map(this.fares, ({ price }) => price)), (p) => p);
    },
    index95Percentile() {
      const size = _size(this.prices);
      if (!size) {
        return undefined;
      }
      return Math.floor((size - 1) * 0.95);
    },
    statistic() {
      return {
        available: _size(_filter(this.fares, { available: true })),
        unavailable: _size(_filter(this.fares, { available: false })),
        availability: Math.ceil(
          (_size(_filter(this.fares, { available: true })) / _size(this.fares)) * 100,
        ),
        mean: Math.ceil(_mean(this.prices)),
        percentile95: this.index95Percentile ? this.prices[this.index95Percentile] : null,
      };
    },
    faresParsed() {
      const grouped = _groupBy(this.fares, 'code');
      return _map(grouped, (fares, code) => _reduce(fares, (acc, fare) => {
        const {
          available, cabin, date, price,
        } = fare;
        return {
          ...acc,
          availables: (acc.availables || []).concat(available),
          cabins: (acc.cabins || []).concat(cabin),
          dates: (acc.dates || []).concat(date),
          prices: (acc.prices || []).concat(price),
        };
      }, { code }));
    },
    blobURL() {
      return URL.createObjectURL(new Blob([
        papaparse.unparse(_flatMap(this.faresParsed,
          ({
            code, cabins, dates, prices,
          }) => _map(dates, (timestamp, i) => ({
            date: dateTimeFormat.format(new Date(timestamp.seconds * 1000)).slice(0, 10),
            code,
            cabin: cabins[i],
            price: prices[i],
          })))),
      ], { type: 'text/csv' }));
    },
  },
  methods: {
  },
};
</script>

<style lang="scss">
.record-tokubin {
  width: 100%;
  height: 100%;
  padding: 0 0 0 15px;
  margin: 0;
  display: grid;
  grid: auto auto auto / 1fr;
  grid-row-gap: 15px;

  .dashboard {
    display: grid;
    grid: auto / 1fr 1fr;
    grid-column-gap: 15px;

    .summary {
      padding: 8px;

      .label {
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        opacity: 0.7;
      }
      .value {
        font-size: 26px;
        font-weight: 500;
      }
    }

    .availability {
      display: grid;
      grid: auto 1fr / 1fr;

      .chart-pie-availability {
        position: relative;
        height: 200px;
      }
    }

    .distribution {
      display: grid;
      grid: auto 1fr / 1fr;

      .summary {
        display: grid;
        grid: 1fr / 1fr 1fr;
      }

      .chart-scatter-distribution {
        position: relative;
        height: 200px;
      }
    }
  }

  .footer {
    display: grid;
    grid: 1fr / 1fr auto;
    align-items: center;

    .timestamp {
      font-style: italic;
      opacity: 0.7;
    }

    .button-download {
      svg {
        margin-right: 5px;
      }
    }
  }
}
</style>
