<template>
  <div id="app">
    <Main />
  </div>
</template>

<script>
import Main from './components/Main.vue';

export default {
  name: 'App',
  components: {
    Main,
  },
};
</script>

<style lang="scss">
html, body, #app {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
</style>
